.catalog {
  flex-grow: 1;
  margin-left: 110px;
}

.catalog__title {
  @include visually-hidden;
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 270px;
  min-height: 450px;
  background: #ffffff;
  border: 1px solid #E1E1E1;
  box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
  border-radius: 6px;
  overflow: hidden;
}

.catalog__item img {
  border-radius: 6px 6px 0 0;
}

.catalog__title-item {
  margin-bottom: 20px;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}

.catalog__item-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 25px;
}

.catalog__item-option {
  display: flex;
  align-items: center;
}

.catalog__item-option--hidden {
  visibility: hidden;
}

.catalog__item-option:not(:last-child) {
  margin-bottom: 10px;
}

dd,
dt {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

.catalog__item-option--price dd {
  font-weight: 500;
  font-size: 18px;
}

.catalog__item-option--price dt {
  margin-right: 10px;
}

.catalog__item-features {
  display: flex;
  justify-content: space-between;
  margin-left: 12px;
  max-width: 90px;
  overflow: hidden;
}

.catalog__item-features img {
  vertical-align: bottom;
}

.catalog__item-features img:not(:last-child) {
  margin-right: 8px;
}

.catalog__item-button {
  position: relative;
  padding: 15px 0;
  margin: 0;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  background: #FF7236;
  overflow: hidden;
  cursor: pointer;
}

.catalog__item-button:hover,
.catalog__item-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalog__item-button span {
  margin-right: 20px;
}

.catalog__item-button::before {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 34px;
  height: 34px;
  transform: translateY(-50%);
  content: url('../assets/img/icons/icon-buy.svg');
}


